body{
    background-color: rgb(242, 244, 248);
    margin: 0px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
}
#logo{
    color: rgb(24, 119, 242);
    font-size: 60px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 175px;
    padding-left: 265px;
    margin: 5px;
}
#text{
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 29px;
    padding-left: 265px;
    padding-top: 0px;
    margin: 0;
}
.login-block{
    width: 350px;
    height: 300px;
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 140px;
    margin-bottom: 0%;

    display: flex;        
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
input{
    height: 48px;
    width: 350px;
    border-radius: 6px;
    border: 1px solid rgb(206, 204, 204);
    margin: 10px;
    font-size: 17px;
    outline: none;
}
#link{
    display: block;
    text-align: center;
    color: blue;
    font-style: none;
}
#vhod{
    height: 48px;
     width: 350px;
    border-radius: 8px;
    border: 2px solid;
    margin: 10px;
    background-color: rgb(24, 119, 242);
    color: white;
    font-size: 20px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}
#newAcc{
    display: block;
    margin: 15px auto 0;
    height: 48px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid;
    background-color: rgb(8, 194, 8);
    color: white;
    font-size: 17px;
    font-family: arial  ;
}
#bottomtext {
    text-align: center;
    padding-left: 750px;
    padding-bottom: 300px;
    font-family: arial;
    font-size: 14px;
}
#t{
    color: black;
}

    