*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    color: black;
}

.page{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content{
    width: 460px;
}
.logo{
    width: 80px;
    margin-bottom: 25px;
    margin-left: -150px;
    padding: 1px;
}
.left h1{
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 8x0px;
}

.orange{
    color: orange;
}

.pink{
    color: deeppink;
}

.stories-img{
    width: 100%;
    max-width: 420px;
}

.divider{
    width: 1px;
    background-color: #e5e5e5;
    margin-right: -100px;
}

.right{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 380px;
}

.login h2{
    font-size: 15px;
    margin-bottom: 20px;
}

.login input{
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-left: 15px;
}

.login-btn{
    width: 100%;
    height: 48px;
    background-color: #1d9bf0;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}

.forgot{
    display: block;
    text-align: center;
    margin-bottom: 25px;
    color: black;
    text-decoration: none;
}

.fb-btn{
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    border-radius: 25px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fblogo{
    width: 30px;
    height: 30px;
}
#fb{
    padding-top: 20px;
    font-size: 15px;
}
.new-btn{
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 1px solid #0572d2;
    border-radius: 25px;
    margin-bottom: 12px;
    color: #1d9bf0;
}

.meta{
    text-align: center;
    margin-top: 25px;
    color: black;
    font-size: 20px;
}
.Meta{
    width: 20px;
    margin-right: 5px;
}
